*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

.container{
    width: 80%;
    margin: 0 auto;
}

header{
    background-color: #156191;
    color: white;
    padding: 2rem 0;
    text-align: center;
}

header h1{
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.subtitle{
    margin-top: 0.5rem;
    font-style: italic;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav ul li{
    color: #156191;
    background-color: #f1f1f1;
    border-radius: 8px;
    display: inline;
    margin: 0 1rem;
    padding: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav ul li:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

nav ul li a{
    color: #156191;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    text-decoration: underline;
}

.section {
    padding: 3rem 0;
    text-align: center;
}

.section h2 {
    color: #156191;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

p {
    margin: 1rem 0;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
}

.skill {
    background-color: #ac2a2a;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100px;
}

.skill:hover{
transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.experience-item, .education-item {
    background-color: #ffffff;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.experience-item:hover, .education-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}

.portfolio-item {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.portfolio-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.portfolio-item img {
    width: 100%;
    border-radius: 8px;
}
